:root {
    --color-black: #000000 ;
    --color-white: #ffffff;
    --color-corporate: #37A72D;
    --color-transparent-dark-corporate: rgba(0, 234, 92, 0.22);
    --color-dark-corporate: #127209;
    --color-dark-gray: #6B6868;
    --color-light-gray: #C4C4C4;
}

