.footer {
    width: 100%;
    height: 70px;
    margin-top: 100px;
    background-color: #000000;

    &__wrapper {
        height: 100%;
        display: flex;
        justify-content: center;
        width: 100%;
        color: #ffffff;
    }
}

@media only screen and (max-width: 1300px) {
    .footer {
        margin-top: 40px;
    }
}

