.basketItem {
    display: flex;
    border-bottom: 1px solid var(--color-light-gray);
    padding: 20px 35px;
    position: relative;

    &__img {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            width: 290px;
            height: 290px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;

        &_title {
            margin-top: 30px;
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 26px;
            color: var(--color-black);
        }

        &_subTitle {
            margin-top: 18px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: var(--color-dark-gray);
        }

        &_counter {
            margin-bottom: 30px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            &-items {

            }

            &-price {
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 43px;
                color: var(--color-black);
            }
        }
    }

    &__delete {
        position: absolute;
        top: 45px;
        right: 35px;
    }
}

@media only screen and (max-width: 1300px) {
    .basketItem {
        padding: 5px;

        &__img {
            width: 30%;
            height: 100%;

            & img {
                width: 100%;
                height: 100%;
            }
        }

        &__info {
            width: 70%;
            margin-left: 10px;

            &_title {
                margin-top: 10px;
                font-size: 18px;
                line-height: 18px;
            }

            &_subTitle {
                margin-top: 10px;
                font-size: 14px;
                line-height: 14px;
            }

            &_counter {
                margin-bottom: 0;
                display: block;

                &-items {

                }

                &-price {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 43px;
                    color: var(--color-black);
                }
            }
        }

        &__delete {
            position: relative;
            right: 0;
            bottom: 0;
        }
    }
}
