.layout {
    width: 100%;
    display: flex;
    justify-content: center;

    &_content {
        width: 1240px;
    }
}

@media only screen and (max-width: 1300px) {
    .layout_content {
        width: 350px;
    }
}
