.filterBrand {
    margin-top: 30px;

    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-black-title);
    }

    &__items {
        margin-top: 30px;
    }

    &__showMore {
        color: var(--color-light-gray);
        font-size: 14px;
        margin-left: 5px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 1300px) {
    .filterBrand {
        margin-top: 15px;

        &__items {
            margin-top: 10px;
        }
    }
}
