.productPage {
    margin-top: 50px;
    display: flex;
    align-items: center;
    padding: 0 80px;

    &__img {
        height: 500px;
        width: 500px;

        & img {
            height: 100%;
            width: 100%;
        }
    }

    &__info {
        margin-left: 25px;

        &_title {
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 36px;
            color: var(--color-black);
            margin-bottom: 25px;
        }

        &_subtitle, &_text {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 16px;
            margin-bottom: 20px;
        }

        &_price {
            font-style: normal;
            font-weight: 900;
            font-size: 48px;
            line-height: 58px;
            color: #FE000F;
        }

        &_button {
            margin-top: 25px;
            display: flex;
        }
    }
}

@media only screen and (max-width: 1300px) {
    .productPage {
        flex-direction: column;

        &__img {
            height: 200px;
            width: 200px;

            & img {
                height: 100%;
                width: 100%;
            }
        }

        &__info {
            &_price {
                font-style: normal;
                font-weight: 900;
                font-size: 24px;
                line-height: 58px;
                color: #FE000F;
            }

            &_button {
                margin-top: 25px;
                display: flex;

                & button {
                    font-size: 14px;
                    height: 40px;
                    line-height: 24px;
                }
            }
        }
    }
}
