.productCard {
    cursor: pointer;
    margin-bottom: 20px;
    width: 250px;
    padding: 10px;
    position: relative;
    border: 1px solid var(--color-light-gray);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

    &:hover {
        transition: 0.6s;
        transform: scale(1.02);
    }

    &__img {
        width: 100%;
        height: 220px;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            width: 90%;
            height: 90%;
            background-size: contain;
        }
    }

    &__title {
        margin-top: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        & p {
            text-align: center;
        }
    }

    &__counter {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
    }

    &__info {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_price {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: var(--color-black);
        }
    }
}
